{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-3 my-lg-4">
    <h4 class="text-center pb-2">{% if view.object %}Update{% else %}Create{% endif %} Genre</h4>
    <div class="row justify-content-center">
        <form class="col-12 col-lg-9" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
                {% if view.object %}Update{% else %}Create{% endif %}
            </button>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}

{% endblock %}