{% extends 'dashboard/dashboard_base.html' %}

{% block content %}
<div class="container mt-4 bg-light pt-3 rounded">
    <div class="d-flex justify-content-between">
        <h4>Book List</h4>
        <a href="{% url 'book_create' %}" class="btn btn-sm btn-primary mb-3">
            Add New Book
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="book-table">
            <thead>
                <tr>
                    <th class="text-start">#</th>
                    <th>Title</th>
                    <th>Cover</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be filled by DataTables via AJAX -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var table = $('#book-table').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '{% url "book_list" %}',
                type: 'GET',
                dataSrc: 'data',
                data: function(d) {
                    // Add the page number as a parameter
                    d.page = (d.start / d.length) + 1;
                    d.last_item_id = $('#book-table').data('last-item-id');
                }
            },
            columns: [
                { data: 'uuid' },
                { data: 'title' },
                { data: 'cover_photo', render: function(data) {
                    return data ? `<a href="${data}" data-lightbox="book-covers"><img src="${data}" alt="Cover" height="40"></a>` : '';
                }},
                { data: 'author' },
                { data: 'isbn' },
                { data: null, render: function(data) {
                    return `
                        <a class="btn btn-sm btn-warning px-3 mx-1" href="${data.edit_url}">Edit</a>
                        <a class="btn btn-danger btn-sm mx-1" href="${data.delete_url}">Delete</a>
                    `;
                }}
            ],
            language: {
                search: "Search books:"
            },
            pageLength: 5, // Default records per page
            lengthMenu: [5,10, 20, 30, 50, 100],
        });
    });
</script>

{% endblock %}
