{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    This is book
    <div class="table-responsive my-2 bg-light p-2 p-lg-3">
        <div class="d-flex justify-content-between">
            <h4>Book List</h4>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Add Book
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxx</td>
                    <td>abc</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
