{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Are you sure you want to delete "{{ object.name }}"?</h2>
    <div class="d-flex flex-wrap">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger me-1 me-lg-2" type="submit">Yes, delete</button>
        </form>
        <a class="ms-1 ms-lg-2 btn btn-primary" href="{% url 'genre_list' %}">Cancel</a>
    </div>
{% endblock %}
{% block script %}

{% endblock %}