{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <!-- Start Form -->
              <form id="createForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create Author</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Render form fields -->
                    {% for field in create_form %}
                        <div class="mb-3">
                            {{ field|as_crispy_field }}
                            <div class="text-danger" id="{{ field.name }}-error"></div>
                            {% comment %} {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %} {% endcomment %}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
</div>
